<body>
    <div class="row all">
        <div class="row cards">
            <div class="col-sm-12">
                <p *ngIf="receivedProduct && receivedCategories">
                    <a routerLink="">goods</a> - <a routerLink="/category">Каталог</a> - <a
                        routerLink="/category/{{ receivedProduct[0].parent }}">{{ receivedCategories[receivedProduct[0].parent - 1].title }}</a>
                    - {{ receivedProduct[0].title }}
                </p>
            </div>
            <!-- <div class="col-sm-12" *ngIf="receivedUser">
                <p>{{ receivedUser[0]?.name }}</p>
            </div> -->
            <!-- <div class="col-sm-12" style="margin-bottom: 20px;">
                Артикул 100 025 399 381 | <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                    class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><span> (22)</span> |
                <a href="#" style="color: #5A7BD0;">В избранное</a>
            </div> -->
            <div class="col-sm-12 col-12">
                <p>Артикул 100 025</p>
            </div>
            <div class="col-sm-1">
                %slider%
            </div>
            <div class="col-sm-3">
                %full img%
            </div>
            <div class="col-sm-12 col-lg-4">
                <span>Операционная система: </span><span>iOS</span><br>
                <span>Встроенная память, в гигабайтах: </span><span>128</span><br>
                <span>Оперативная память, в гигабайтах: </span><span>4</span><br>
                <span>Возможность расширения памяти: </span><span>Нет</span><br>
                <span>Диагональ экрана, в дюймах: </span><span>6.1</span><br>
                <span>Цвет:</span><br>
                %slider%<br>
                <span>Объем памяти:</span><br>
                %memory%<br>
                <button (click)="isSpec = true; isAbout = false">Все характеристики</button><br>
            </div>
            <div class="col-sm-12 col-lg-3">
                <p style="font-weight: 900; font-size: 24px;">100 609 ₽</p>
                <div class="col-sm-12">
                    <button class="btn_add" (click)="handleAddToCart()">Добавить корзину</button><br>
                </div>
                <div class="rows">
                    <div class="col-sm-6"><button class="btn">Подарить</button></div>
                    <div class="col-sm-6"><button class="btn">Купить в 1 клик</button></div>
                </div>
                <p class="bold_text">Доставка</p>
                <div class="rows">
                    <div class="col-sm-2">
                        <i class="fas fa-truck fa-xl"></i>
                    </div>
                    <div class="col-sm-10">
                        <p>Доставка, бесплатно</p>
                    </div>
                </div>
                <div class="rows">
                    <div class="col-sm-2">
                        <i class="fas fa-map-marker-alt fa-lg"></i>
                    </div>
                    <div class="col-sm-10">
                        <p>Cамовывоз, бесплатно</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <button (click)="isAbout = true; isSpec = false;">О товаре</button> | <button
                    (click)="isSpec = true; isAbout = false">Характеристики</button>
            </div>
            <div *ngIf="isAbout" class="col-sm-12">
                <p style="margin-top: 10px;" class="bold_text">Описание</p>
                <p>Смартфон Apple iPhone 11 Black (MWM02RU/A) оснащен IPS-дисплеем размером 6,1 дюймов по диагонали. Для
                    передачи данных поддерживаются стандарты связи GPRS, 4G (LTE), 3G, 2G. Можно пользоваться услугами
                    одного мобильного оператора при наличии встроенной SIM-карты. Для проведения покупок посредством
                    смартфона внедрены технологии NFC, Apple Pay.</p>
            </div>
            <div *ngIf="isSpec" class="col-sm-12">
                <p style="margin-top: 10px;" class="bold_text">Характеристики</p>
                <p>Хелоу</p>
            </div>
        </div>
    </div>
</body>
