<body>
    <div class="row all" *ngIf="receivedCategories">
        <div class="col-sm-12">
            <p>
                <a routerLink="">goods</a> - <a routerLink="/category">Каталог</a> -
                {{ receivedCategories[route.snapshot.params.id - 1]?.title }}
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p class="bold_text">{{ receivedCategories[route.snapshot.params.id - 1]?.title }}</p>
        </div>
        <div class="col-sm-12 col-md-6" style="text-align: right; margin-bottom: 10px;">
            <select (change)="sortBy($event.target.value)">
                <option>Сначала новые</option>
                <option>Сначала старые</option>
                <option>Сначала дешевые</option>
                <option>Сначала дорогие</option>
            </select>
        </div>
        <div class="col-lg-3 col-sm-12 filter" style="margin-bottom: 10px;">
            <p class="bold_text" style="text-align: left;">Цена</p>
            <hr>
            <p>от <input type="text" size="9"> до <input type="text" size="9"></p>
            <p class="bold_text" style="text-align: left; margin-top: 10px;">Бренды</p>
            <input type="checkbox" class="checkbox" id="apple" />
            <label for="apple">Apple</label><br>
            <input type="checkbox" class="checkbox" id="samsung" />
            <label for="samsung">Samsung</label><br>
            <input type="checkbox" class="checkbox" id="xiaomi" />
            <label for="xiaomi">Xiaomi</label><br>
            <input type="checkbox" class="checkbox" id="lg" />
            <label for="lg">LG</label><br>
            <input type="checkbox" class="checkbox" id="nokia" />
            <label for="nokia">Nokia</label><br>
            <a href="#">Посмотреть все</a>
            <p class="bold_text" style="text-align: left; margin-top: 10px;">Высокий рейтинг</p>
            <p class="bold_text" style="text-align: left; margin-top: 10px;">Цвет</p>
            <input type="checkbox" class="checkbox" id="red" />
            <label for="red">Красный</label><br>
            <input type="checkbox" class="checkbox" id="blue" />
            <label for="blue">Синий</label><br>
            <input type="checkbox" class="checkbox" id="green" />
            <label for="green">Зеленый</label><br>
            <input type="checkbox" class="checkbox" id="brown" />
            <label for="brown">Коричневый</label><br>
            <input type="checkbox" class="checkbox" id="pink" />
            <label for="pink">Розовый</label><br>
            <a href="#">Посмотреть все</a>
            <p class="bold_text" style="text-align: left; margin-top: 10px;">Страна</p>
            <input type="checkbox" class="checkbox" id="russia" />
            <label for="russia">Россия</label><br>
            <input type="checkbox" class="checkbox" id="usa" />
            <label for="usa">США</label><br>
            <input type="checkbox" class="checkbox" id="japan" />
            <label for="japan">Япония</label><br>
            <input type="checkbox" class="checkbox" id="china" />
            <label for="china">Китай</label><br>
            <input type="checkbox" class="checkbox" id="madagascar" />
            <label for="madagascar">Мадагаскар</label><br>
            <a href="#">Посмотреть все</a>
        </div>

        <div class="col-lg-8 col-sm-12">
            <div class="row">
                <div *ngFor="let product of receivedProducts | filter : 'age' : 'id' : groupValue | paginate: config; index as i"
                    class="col-lg-3 col-md-4 col-sm-12 card">
                    <a routerLink="/product/{{ product.article }}">{{ product.title }}</a>
                    <img src="{{ product.img }}" alt="img" height="160">
                    <p style="font-weight: 900">{{ product.price }} Р</p>
                    <i *ngIf="addedToWishlist[i]" class="fas fa-heart" (click)="handleDelFromWishlist(i)"></i>
                    <i *ngIf="!addedToWishlist[i]" class="far fa-heart" (click)="handleAddToWishlist(i)"></i>
                    <button class="btn_add" (click)="handleAddToCart(i)">Добавить корзину</button>
                </div>
                <pagination-controls (pageChange)="pageChange($event)" directionLinks="false" maxSize="10">
                </pagination-controls>
            </div>
        </div>

        <ng-container *ngFor="let group of groups;  let i=index">
            <label class="btn btn-filter" id="bttns">
                <input type="checkbox" name="customersGroupFilter" autoComplete="off" [value]="group"
                    (change)="changeGroup($event)">
                {{ group }}
            </label>&nbsp;
        </ng-container>
        <ng-container *ngFor="let group of groupOne;  let i=index">
            <label class="btn btn-filter" id="bttns">
                <input type="checkbox" name="customersGroupFilter" autoComplete="off" [value]="group"
                    (change)="changeGroup($event)">
                {{ group }}
            </label>&nbsp;
        </ng-container>
    </div>
</body>