<body>
    <div class="row all">
        <div class="col-sm-12">
            <p class="bold_text">Оформление заказа</p>
        </div>
        <div class="col-xl-7 col-sm-12 cardz">
            <p>Email:</p>
            <input type="text">
            <p>Ф.И.О:</p>
            <input type="text">
            <p>Адрес:</p>
            <input type="text">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <p>Город:</p>
                    <input type="text">
                </div>
                <div class="col-md-6 col-sm-12">
                    <p>Район:</p>
                    <input type="text">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <p>Индекс:</p>
                    <input type="text">
                </div>
                <div class="col-md-6 col-sm-12">
                    <p>Телефон:</p>
                    <input type="text">
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-12 cards">
            <div class="col-sm-12">
                <p class="bold_text">Ваш заказ</p>
            </div>
            <hr>
            <div class="rows">
                <div class="col-sm-6">
                    <p>Товары (2)</p>
                </div>
                <div class="col-sm-6" style="text-align: right;">
                    333 Р
                </div>
            </div>
            <div class="rows">
                <div class="col-sm-6">
                    <p>Скидка</p>
                </div>
                <div class="col-sm-6" style="text-align: right;">
                    111 Р
                </div>
            </div>
            <hr>
            <div class="rows">
                <div class="col-sm-6">
                    <p class="bold_text">Итого:</p>
                </div>
                <div class="col-sm-6" style="text-align: right;">
                    444 Р
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <p class="bold_text" style="margin-top: 20px">Данные для оплаты</p>
        </div>
        <div class="col-sm-12 cards">
            <p>Имя на карте:</p>
            <input type="text">
            <p>Номер карты:</p>
            <input type="text">
        </div>
        <div class="col-sm-12" style="text-align: center;">
            <button class="btn_make" style="margin: 24px;">Оформить заказ</button>
        </div>
    </div>
</body>
